body {
    background-color: rgb(95, 158, 160);
    font: 400 1.125em/1.38 'Berlin Sans FB Bold';
    color: rgb(0, 0, 0);
}

@font-face {
    font-family: 'Berlin Sans FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('../Berlin Sans FB Bold'), url('../BRLNSB.woff');
    
}


.bigb {
    float: left;
}

.bigb .image {
    width: 108px;
}

.bigb .text {
    clear: both;
    font-size: 1em;
    line-height: 1.38;
    text-align: center;
    color: rgb(0, 0, 0);
    float: none;
}

.button {
    position: absolute;
}

.button .bio {
    left: 20.7547169811%;
    z-index: 16;
}

.button .cv {
    left: 28.3018867924%;
    z-index: 13;
}

.button .text {
    top: 52px;
    font-size: 1em;
    line-height: 1.38;
    color: rgb(0, 0, 0);
}

.button .work {
    left: -1.8867924529%;
    z-index: 19;
}

.divers {
    display: block;
    position: relative;
    float: left;
    z-index: 7;
    width: 19.75%;
    height: 116px;
    margin: 117px 0 0 46.33203%;
    border: 7px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-image: url('../images/developpeur-web-S.jpg');
    background-size: auto auto;
    background-position: 15% 0%;
    box-shadow: 0 2px 50px 25px rgba(0, 0, 0, .5) inset;
    font-size: 1.667em;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: rgb(204, 46, 79);
}

.divers:hover {
    box-shadow: 0 2px 50px rgba(0, 0, 0, .5) inset;
    color: rgb(255, 255, 204);
    opacity: 1;
}

.footer {
    float: left;
    clear: both;
   margin: 5% 0 0 45%;
    text-shadow: -1px -1px 0 rgb(0, 0, 0);
    font-size: 0.889em;
    line-height: 1.38;
    color: rgb(0, 0, 0);
}

.image {
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
}

.nom .image {
    width: 30px;
    margin-top: 6px;
}

.nom .text {
    position: absolute;
    top: -3px;
    left: 19.3082788671%;
    z-index: 8;
    font-size: 100%;
    line-height: 1;
    text-align: center;
    color: rgb(0, 0, 0);
}

.button .text:hover,
.nom .text:hover,
a:hover .nom {
    color: rgb(255, 255, 204);
}

a:hover .button {
    color: #ffffd2;

}

.button ._image,
.pause,
.stop {
    width: 53px;
}

.projets {
    display: block;
    position: relative;
    float: left;
    clear: both;
    z-index: 6;
    width: 19.75%;
    height: 116px;
    margin: 11px 0 0 46.33203%;
    border: 7px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-image: url('../images/developpeur-web-S.jpg'), url('../images/OldBoy.jpg');
    background-repeat: repeat, repeat;
    background-size: auto auto, cover;
    background-position: left bottom, center top;
    background-attachment: scroll, scroll;
    box-shadow: 0 2px 50px 25px rgba(0, 0, 0, .5) inset;
    font-size: 1.667em;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: rgb(204, 46, 79);
}


.MK {
    display: block;
    position: relative;
    float: left;
    clear: both;
    z-index: 5;
    width: 19.75%;
    height: 116px;
    margin: 11px 0 0 46.33203%;
    border: 7px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-image: url('../images/barbiana-lights.jpg'), url('../images/barbiana-OK.jpg');
    background-repeat: repeat, repeat;
    background-size: cover, auto auto;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
    box-shadow: 0 2px 50px 25px rgba(0, 0, 0, .5) inset;
    font-size: 1.667em;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: rgb(204, 46, 79);
}

.MK:hover,
.projets:hover {
    box-shadow: 0 2px 50px rgba(0, 0, 0, .5) inset;
    color: rgb(255, 255, 204);
}

.sub {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 86px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 35px;
}

.sub:hover {
    border-color: rgb(255, 255, 204);
    -webkit-transform: opacity=90%;
    -moz-transform: opacity=90%;
    -o-transform: opacity=90%;
    -ms-transform: opacity=90%;
    transform: opacity=90%;
}

.sub2 {
    position: relative;
    float: left;
    width: 83.8260472548%;
    height: 45px;
    margin: 12px 0 0 8.37652%;
}

.text {
    font-weight: 400;
}

.bigb-1 {
    width: 18.4931506849%;
    height: 154px;
    margin: 34px 0 0 9.24658%;
}

.button-1 {
    display: block;
    top: 20px;
    left: 52.2825520833%;
    z-index: 21;
    width: 4.4166666666%;
    height: 52px;
}

.button-3 {
    display: block;
    top: 20px;
    left: 59.5325520833%;
    z-index: 18;
    width: 4.4166666666%;
    height: 52px;
}

.button-5 {
    display: block;
    top: 20px;
    left: 66.7825520833%;
    z-index: 15;
    width: 4.4166666666%;
    height: 52px;
}

.button-1:hover,
.button-3:hover,
.button-5:hover {
    border-radius: 50px;
    background-color: rgb(255, 255, 204);
}

.container-1 {
    position: absolute;
    top: 9px;
    left: 25%;
    z-index: 12;
    width: 24.19921875%;
}

.container-4 {
    position: absolute;
    top: 102px;
    left: 25%;
    z-index: 4;
    width: 50%;
    height: 447px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 55px;
    background-color: rgb(204, 46, 79);
}

.container-1:hover,
.container-4:hover {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.text strong {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}

.text-3 strong {
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.text-4 strong {
    font-style: normal;
    font-size: 2.5em;
    font-weight: Bold;
    color: inherit;
}

.text-5 strong {
    font-style: normal;
    font-size: 1.944em;
    font-weight: Bold;
    color: inherit;
}

.text-6 strong {
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: rgb(255, 255, 204);
}

@media(max-width: 1070px) {
    .container-1:hover {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .MK {
        position: relative;
        z-index: 5;
        width: 19.7488317757%;
        margin-top: 9px;
        margin-left: 45.32564%;
        font-size: 1.556em;
    }

    .MK:hover,
    .divers:hover,
    .projets:hover {
        box-shadow: 0 2px 50px rgba(0, 0, 0, .5) inset;
    }

    .bigb .image {
        height: auto;
    }

    .bigb .text {
        margin-left: 2.09782%;
    }

    .button .bio {
        left: 24.4444444444%;
    }

    .button .cv {
        left: 33.3333333333%;
    }

    .button .image {
        height: auto;
    }

    .button .work {
        left: 6.3829787234%;
    }

    .container .sub2 {
        margin-left: 8.2009399999%;
    }

    .divers {
        position: relative;
        z-index: 7;
        width: 19.7488317757%;
        margin-top: 131px;
        margin-left: 45.32564%;
    }

    .footer {
        margin-top: 53px;
        margin-left: 44.43925%;
    }

    .nom .image {
        position: relative;
        z-index: 9;
        height: auto;
        margin-left: -7%;
    }

    .nom .text {
        position: absolute;
        top: 2px;
        margin-left: -5%;
        line-height: 0.7;
    }

    .projets {
        position: relative;
        z-index: 6;
        width: 19.7488317757%;
        margin-top: 9px;
        margin-left: 45.32564%;
    }

    .button ._image {
        margin-left: 8.49868%;
    }

    .button-1,
    .button-3,
    .button-5 {
        width: 4.4158878504%;
    }

    .container .bigb-1 {
        margin-left: 9.22447%;
    }
}

@media(max-width: 1024px) {
    .container-1:hover {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .sub:hover {
        border-color: rgb(255, 255, 204);
    }

    body {
        font-size: 1.125em;
    }

    .barbiana {
        position: relative;
        z-index: 5;
        width: 19.7494506835%;
        margin-left: 43.99872%;
    }

    .barbiana:hover,
    .divers:hover,
    .projets:hover {
        box-shadow: 0 2px 50px rgba(0, 0, 0, .5) inset;
    }

    .bigb .image {
        height: auto;
    }

    .bigb .text {
        margin-left: 15%;
        font-size: 1em;
    }

    .button .bio {
        left: 21.1538461538%;
    }

    .button .cv {
        left: 28.3018867924%;
    }

    .button .image {
        height: auto;
    }

    .button ._image,
    .button .stop {
        margin-left: -1.92308%;
    }

    .button .work {
        left: -1.9230769231%;
    }

    .container .sub2 {
        margin-left: 8.34513%;
    }

    .divers {
        position: relative;
        z-index: 7;
        width: 19.7494506835%;
        margin-top: 129px;
        margin-left: 43.99872%;
    }

    .footer {
        margin-top: 54px;
        margin-left: 44.7876%;
    }

    .nom .image {
        position: relative;
        z-index: 9;
        height: auto;
    }

    .nom .text {
        top: 10%;
        left: 15.4267752075%;
        margin-left: -5%;
        font-size: 100%;
    }

    .projets {
        position: relative;
        z-index: 6;
        width: 19.7494506835%;
        margin-left: 43.99872%;
    }

    .button-1,
    .button-3 {
        width: 5.078125%;
    }

    .button-5 {
        width: 5.17578125%;
    }

    .container .bigb-1 {
        margin-left: 9.22694%;
    }
}

@media(max-width: 800px) {

    .container-1:hover,
    .container-4:hover {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .barbiana {
        position: relative;
        z-index: 5;
        width: 19.75%;
        margin-left: 48%;
    }

    .barbiana:hover,
    .divers:hover,
    .projets:hover {
        box-shadow: 0 2px 50px rgba(0, 0, 0, .5) inset;
    }

    .bigb .image {
        height: auto;
    }

    .bigb .text {
        margin-left: 1%;
    }

    .button .image {
        height: auto;
    }

    .button ._image,
    .button .stop {
        margin-left: 0;
    }

    .button .work {
        left: -5.6603773585%;
    }

    .container .sub {
        width: 81.6785808842%;
    }

    .container .sub2 {
        width: 88%;
        margin-top: 11px;
        margin-left: 7.3701%;
    }

    .divers {
        position: relative;
        z-index: 7;
        width: 19.75%;
        margin-top: 125px;
        margin-left: 48%;
    }

    .footer {
        margin-top: 57px;
        margin-left: 42.6875%;
    }

    .nom {
        width: 29.5078125%;
    }

    .nom .image {
        position: relative;
        z-index: 9;
        height: auto;
        margin-left: 2%;
    }

    .nom .text {
        top: -8px;
        left: 25%;
        width: 76.4008837115%;
    }

    .projets {
        position: relative;
        z-index: 6;
        width: 19.75%;
        margin-left: 48%;
    }

    .button-1,
    .button-3,
    .button-5 {
        width: 6.625%;
    }

    .container .bigb-1 {
        width: 28.125%;
        margin-top: 38px;
        margin-left: 9.375%;
    }
}

@media(max-width: 414px) {

    .container-1:hover,
    .container-4:hover {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    body {
        font-size: 1.125em;
    }

    .bigb .image {
        width: 90px;
        height: auto;
        margin-top: 16px;
        margin-left: 30%;
    }

    .bigb .text {
        margin-left: 34.21586%;
    }

    .bio {
        top: 244px;
    }

    .button {
        left: 80.53%;
    }

    .button .bio {
        left: 20.7547169811%;
    }

    .button .image {
        height: auto;
    }

    .container .sub {
        width: 89.028494503%;
    }

    .container .sub2 {
        width: 266.2832043505%;
        margin-left: 2.72978%;
    }

    .cv {
        top: 339px;
    }

    .divers {
        position: relative;
        z-index: 7;
        width: 37.8625%;
        height: 68px;
        margin-top: 269px;
        margin-left: 30.92917%;
        font-size: 1.389em;
    }

    .footer {
        margin-left: 34.52917%;
    }


    .barbiana {
        position: relative;
        z-index: 5;
        width: 37.8625%;
        height: 68px;
        margin-left: 30.92917%;
        font-size: 1.389em;
    }

    .barbiana:hover,
    .divers:hover,
    .projets:hover {
        box-shadow: 0 2px 50px rgba(0, 0, 0, .5) inset;
    }

    .nom {
        width: 55.7125%;
    }

    .nom .image {
        position: relative;
        z-index: 9;
        height: auto;
        margin-left: 2.85458%;
    }

    .nom .text {
        top: -9px;
        left: 15.6337717027%;
        width: 20.1028614821%;
    }

    .projets {
        position: relative;
        z-index: 6;
        width: 37.8625%;
        height: 68px;
        margin-left: 30.92917%;
        font-size: 1.389em;
    }

    .work {
        top: 149px;
    }

    .button-1,
    .button-3,
    .button-5 {
        width: 14.1333333333%;
    }

    .container .bigb-1 {
        width: 62.9737609329%;
        margin-top: 5px;
        margin-left: 7.14286%;
    }
}

@media(max-width: 375px) {

    .container-1:hover,
    .container-4:hover {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    body {
        font-size: 1.125em;
    }

    .bigb .image {
        width: 90px;
        height: auto;
        margin-top: 16px;
        margin-left: 25%;
    }

    .bigb .text {
        margin-left: 34.21586%;
    }

    .bio {
        top: 244px;
    }

    .button {
        left: 80.53%;
    }

    .button .bio {
        left: 20.7547169811%;
    }

    .button .image {
        height: auto;
    }

    .container .sub {
        width: 89.028494503%;
    }

    .container .sub2 {
        width: 266.2832043505%;
        margin-left: 2.72978%;
    }

    .cv {
        top: 339px;
    }

    .divers {
        position: relative;
        z-index: 7;
        width: 37.8625%;
        height: 68px;
        margin-top: 269px;
        margin-left: 30.92917%;
        font-size: 1.389em;
    }

    .footer {
        margin-left: 34.52917%;
    }


    .barbiana {
        position: relative;
        z-index: 5;
        width: 37.8625%;
        height: 68px;
        margin-left: 30.92917%;
        font-size: 1.389em;
    }

    .barbiana:hover,
    .divers:hover,
    .projets:hover {
        box-shadow: 0 2px 50px rgba(0, 0, 0, .5) inset;
    }

    .nom {
        width: 55.7125%;
    }

    .nom .image {
        position: relative;
        z-index: 9;
        height: auto;
        margin-left: 2.85458%;
    }

    .nom .text {
        top: -9px;
        left: 15.6337717027%;
        width: 20.1028614821%;
    }

    .projets {
        position: relative;
        z-index: 6;
        width: 37.8625%;
        height: 68px;
        margin-left: 30.92917%;
        font-size: 1.389em;
    }

    .work {
        top: 149px;
    }

    .button-1,
    .button-3,
    .button-5 {
        width: 14.1333333333%;
    }

    .container .bigb-1 {
        width: 62.9737609329%;
        margin-top: 5px;
        margin-left: 7.14286%;
    }
}


**EQ** .bar-c {
    overflow: hidden;
    height: 30px;
    width: 40px;
    margin: auto;
    position: relative;
    cursor: pointer;

}

.bar {
    height: 1px;
    width: 2.4%;
    display: flex;
    background-color: #ffffd2;
    bottom: 0;
    margin-left: 16%;
    position: absolute;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

}

.bar.noAnim {
    -webkit-animation: none;
    -webkit-animation-name: none;
}

.bar#bar-1 {
    left: 0%;
    -webkit-animation-name: danceHeight1;
    -webkit-animation-delay: 266ms;
}

.bar#bar-2 {
    left: 3%;
    -webkit-animation-name: danceHeight2;
    -webkit-animation-delay: 150ms;
}

.bar#bar-3 {
    left: 6%;
    -webkit-animation-name: danceHeight3;
    -webkit-animation-delay: 620ms;
}

.bar#bar-4 {
    left: 9%;
    -webkit-animation-name: danceHeight4;
    -webkit-animation-delay: 444ms;
}

.bar#bar-5 {
    left: 12%;
    -webkit-animation-name: danceHeight5;
    -webkit-animation-delay: 325ms;
}

.bar#bar-6 {
    left: 15%;
    -webkit-animation-name: danceHeight6;
    -webkit-animation-delay: 412ms;
}

.bar#bar-7 {
    left: 18%;
    -webkit-animation-name: danceHeight7;
    -webkit-animation-delay: 526ms;
}

.bar#bar-8 {
    left: 21%;
    -webkit-animation-name: danceHeight8;
    -webkit-animation-delay: 725ms;
}

.bar#bar-9 {
    left: 24%;
    -webkit-animation-name: danceHeight9;
    -webkit-animation-delay: 1200ms;
}

.bar#bar-10 {
    left: 27%;
    -webkit-animation-name: danceHeight10;
    -webkit-animation-delay: 0ms;
}

.bar#bar-11 {
    left: 30%;
    -webkit-animation-name: danceHeight11;
    -webkit-animation-delay: 300ms;
}

.bar#bar-12 {
    left: 33%;
    -webkit-animation-name: danceHeight12;
    -webkit-animation-delay: 600ms;
}

.bar#bar-13 {
    left: 36%;
    -webkit-animation-name: danceHeight13;
    -webkit-animation-delay: 900ms;
}

.bar#bar-14 {
    left: 39%;
    -webkit-animation-name: danceHeight14;
    -webkit-animation-delay: 1200ms;
}

.bar#bar-15 {
    left: 42%;
    -webkit-animation-name: danceHeight15;
    -webkit-animation-delay: 0ms;
}

.bar#bar-16 {
    left: 45%;
    -webkit-animation-name: danceHeight16;
    -webkit-animation-delay: 300ms;
}

.bar#bar-17 {
    left: 48%;
    -webkit-animation-name: danceHeight17;
    -webkit-animation-delay: 600ms;
}

.bar#bar-18 {
    left: 51%;
    -webkit-animation-name: danceHeight18;
    -webkit-animation-delay: 900ms;
}

.bar#bar-19 {
    left: 54%;
    -webkit-animation-name: danceHeight19;
    -webkit-animation-delay: 1200ms;
}

.bar#bar-20 {
    left: 57%;
    -webkit-animation-name: danceHeight20;
    -webkit-animation-delay: 0ms;
}

.bar#bar-21 {
    left: 60%;
    -webkit-animation-name: danceHeight21;
    -webkit-animation-delay: 300ms;
}

.bar#bar-22 {
    left: 63%;
    -webkit-animation-name: danceHeight22;
    -webkit-animation-delay: 600ms;
}

.bar#bar-23 {
    left: 66%;
    -webkit-animation-name: danceHeight23;
    -webkit-animation-delay: 900ms;
}

.bar#bar-24 {
    left: 70%;
    -webkit-animation-name: danceHeight24;
    -webkit-animation-delay: 1200ms;
}

.bar#bar-25 {
    left: 73%;
    -webkit-animation-name: danceHeight25;
    -webkit-animation-delay: 0ms;
}

.bar#bar-26 {
    left: 76%;
    -webkit-animation-name: danceHeight26;
    -webkit-animation-delay: 300ms;
}

.bar#bar-27 {
    left: 79%;
    -webkit-animation-name: danceHeight27;
    -webkit-animation-delay: 600ms;
}

.bar#bar-28 {
    left: 82%;
    -webkit-animation-name: danceHeight28;
    -webkit-animation-delay: 900ms;
}


@-webkit-keyframes danceHeight1 {
    from {
        height: 1px;
    }

    to {
        height: 22px;
    }
}

@-webkit-keyframes danceHeight2 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight3 {
    from {
        height: 1px;
    }

    to {
        height: 24px;
    }
}

@-webkit-keyframes danceHeight4 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight5 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight6 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight7 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight8 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight9 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight10 {
    from {
        height: 1px;
    }

    to {
        height: 22px;
    }
}

@-webkit-keyframes danceHeight11 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight12 {
    from {
        height: 1px;
    }

    to {
        height: 24px;
    }
}

@-webkit-keyframes danceHeight13 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight14 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight15 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight16 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight17 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight18 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight19 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight20 {
    from {
        height: 1px;
    }

    to {
        height: 22px;
    }
}

@-webkit-keyframes danceHeight21 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight22 {
    from {
        height: 1px;
    }

    to {
        height: 24px;
    }
}

@-webkit-keyframes danceHeight23 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight24 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight25 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight26 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}

@-webkit-keyframes danceHeight27 {
    from {
        height: 1px;
    }

    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight28 {
    from {
        height: 1px;
    }

    to {
        height: 20px;
    }
}
